# Default: ignore everything
*

# Allow traversing directories so specific files can be re-included
!*/

# Always allow Skript files anywhere
!*.sk

# Allow all files that currently exist in this repository
!.gitignore
!LICENSE
!README.md
!go.mod
!go.sum
!main.go
!server/eula.txt
!server/paper.jar
!server/plugins/ServerTap-0.6.1.jar
!server/plugins/Skript-2.14.3.jar
!server/server.properties
!server/start-server.bat
!web/index.html
!web/overlay-like-goal.html
!web/static/app.js
!web/static/overlay-like-goal.js
!web/static/styles.css
!web/static/vendor/html2canvas.min.js
