# Build artifacts
*.exe
*.out
*.log
stdout

# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# App runtime data
events.json
gift-list.json
settings.json
giftimage/
sounds/

# Minecraft server runtime data
server/usercache.json
server/version_history.json
server/whitelist.json
server/permissions.yml
server/plugins/Skript/variables.csv
